<nb-layout>

  <nb-layout-header fixed>
    <h1>GraphQL with Parse Platform</h1>
  </nb-layout-header>

  <nb-layout-column>
    <nb-card *ngIf="people">
      <nb-card-header><h2>People</h2></nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let person of people; trackBy: trackById">
          <nb-user [name]="person.name"
                   [title]="person.id"
                   (click)="selectedPerson=person; loadTask()"></nb-user>
          <button nbButton status="basic" (click)="onEditPerson(person)">
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
          <button nbButton status="danger" (click)="removePerson(person.id)">
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </nb-list-item>
      </nb-list>
      <nb-card-footer>
        <div *ngIf="!editPerson" class="footer-input-new">
          <label>
            <input nbInput [formControl]="newPerson" placeholder="New Person" fullWidth>
          </label>
          <button nbButton (click)="addNewPerson()" status="success" [disabled]="newPerson.invalid">
            <nb-icon icon="person-add-outline"></nb-icon>
          </button>
        </div>
        <div *ngIf="editPerson" class="footer-input-edit">
          <label>
            <input nbInput [formControl]="editPersonName" fullWidth>
          </label>
          <button nbButton (click)="resetEditPerson()" status="basic">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
          <button nbButton (click)="saveEditPerson()" status="success" [disabled]="editPersonName.invalid">
            <nb-icon icon="save-outline"></nb-icon>
          </button>
        </div>
      </nb-card-footer>
    </nb-card>


    <nb-card *ngIf="tasks">
      <nb-card-header><h2>{{selectedPerson.name}}'s Tasks</h2></nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let task of tasks; trackBy: trackById">
          {{task.name}}
          <button nbButton status="basic" (click)="onEditTask(task)">
            <nb-icon icon="edit-outline"></nb-icon>
          </button>
          <button nbButton status="danger" (click)="removeTask(task.id)">
            <nb-icon icon="trash-2-outline"></nb-icon>
          </button>
        </nb-list-item>
      </nb-list>
      <nb-card-footer>
        <div *ngIf="!editTask" class="footer-input-new">
          <label>
            <input nbInput [formControl]="newTask" placeholder="New Task" fullWidth>
          </label>
          <button nbButton (click)="addNewTask()" status="success" [disabled]="newTask.invalid">
            <nb-icon icon="file-add-outline"></nb-icon>
          </button>
        </div>
        <div *ngIf="editTask" class="footer-input-edit">
          <label>
            <input nbInput [formControl]="editTaskName" fullWidth>
          </label>
          <button nbButton (click)="resetEditTask()" status="basic">
            <nb-icon icon="close-outline"></nb-icon>
          </button>
          <button nbButton (click)="saveEditTask()" status="success" [disabled]="editTaskName.invalid">
            <nb-icon icon="save-outline"></nb-icon>
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed></nb-layout-footer>

</nb-layout>
